# Dependências e caches
node_modules/
.bun-cache/
.bun/

# Arquivos de Build / Compilados
build/
dist/
*.js.map

# Cofre local de testes (não subir para o GitHub!)
vault.json
*.vault

# Logs e arquivos de ambiente
*.log
.env

vault.bluescrypt
*.bluescrypt
*.json